<div class="form-group nested-fields">
  <%= f.label :value %>
  <div class="input-group">
    <%= f.text_field :value, class: 'form-control' %>
    <span class="input-group-btn">
      <%= link_to_remove_association f, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
    </span>
  </div>
</div>
