<div class="panel-default">
  <div class="panel-heading">
    <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= "#{t('titles.new')} #{Contact.model_name.human}" %></h1>
  </div>
  <%= render 'form', contact: @contact %>
</div>
